{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 4
        },
        "useBuiltIns": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "transform-class-properties",
    "transform-es2015-classes"
  ],
  "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "tcomb"
      ],
      "presets": [
        "react-hmre"
      ]
    },
    "test": {
      "plugins": [
        [
          "webpack-loaders",
          {
            "config": "webpack.config.test.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
